:host { display: contents; }

tr:hover {
  background: rgba(0, 0, 0, 0.05);
  cursor: pointer;
}

td, th {
  padding: .9rem .8rem;
  border-bottom: 1px solid #e7ebf1;
  font-size: .92rem;
  color: #2a2f36;
}
td.chk { width: 42px; }
td.name { min-width: 200px; }